@model LibraryViewModel;
@{
    ViewData["Title"] = "Lista Elementów";
}

<div class="text-center">
    <h1 class="display-4">Zawartość Biblioteki</h1>
</div>

<form asp-controller="LibraryItem" asp-action="LibraryItemsList" method="get">
    <p>

        Tytuł: <input type="text" name="SearchTitle">
        Imię Autora: <input type="text" name="SearchAuthorFirstName">
        Nazwisko Autora: <input type="text" name="SearchAuthorLastName">
        <input type="submit" value="Filtr" />
    </p>
</form>

<div class="panel panel-default todo-panel">
    

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>&#x2714;</th>
                <th>Tytuł</th>
                <th>Imię i Nazwisko Autora</th>
                <th>Rok Wydania</th>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
        <tr onclick="location.href = '@(Url.Action("GetOneItem", "LibraryItem", new { id = item.Id}))'">
            <td>&#x25BB;</td>
            <td>@item.Title</td>
            <td>@item.Author.FirstName @item.Author.LastName</td>
            <td>@item.IssueYear.Year</td>
        </tr>
        }
    </table>
</div>