@model LibraryItemViewModel;

@{
    ViewData["Title"] = "Wprowadzona pozycja";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Element w bibliotece</title>
</head>
<body>
    <form asp-action="SaveLibraryItem" method="post">
        <fieldset>
            <legend>Informacje</legend>
            <div class="form-group">
                <label for="Title">Tytuł:</label><br />
                <label>@Model.Title</label>
            </div>

            <div class="form-group">
                <label for="Author">Imię autora:</label><br /><label>@Model.Author.FirstName</label>
                @Html.DropDownListFor(m => m.Author.Id, new SelectList((IEnumerable<SelectListItem>)ViewBag.AuthorsViewBag, "Value", "Text"))
            </div>

            <div class="form-group">
                <label for="IssueYear">Data wydania</label>
                <input type="date" class="form-control" name="IssueYear" placeholder="Rok" value="@Model.IssueYear" />
            </div>

            @*<div class="form-group">
                <label for="ItemType">Nośnik:</label>
                @Html.DropDownListFor(m => m.ItemType, new SelectList((IEnumerable<SelectListItem>)Html.GetEnumSelectList(typeof(int)), "Value", "Text"))
            </div>*@

            @*<div class="form-group">
                    <label for="Cover">Okładka:</label>
                    <input type="text" class="form-control" name="Cover" placeholder="Okładka" />
                </div>*@

            <p><input type="submit" class="btn btn-primary" name="buttonSubmit" value="Dodaj Element" /></p>

        </fieldset>
    </form>
    <h2>Wprowadzanie autorów</h2>
    <ol>
        <li>

            <a asp-controller="AuthorItem"
               asp-action="EnterAuthor">Wprowadzanie autorów</a>

        </li>
    </ol>
</body>
</html>

